* {
    box-sizing: border-box;
}

#containerDiv{
display:flex;
align-items: center;
width :960px;
height:960px;
/* flex-flow: row; */
/* justify-content: space-around; */
flex-wrap: wrap;

}

.content{

    /*Based on a grid size of 960px x 960px= Each Div will be about 10px wide and tall */
    width:10px;
    height:10px;
    border:1px solid black;
    background-color: greenyellow;
}

#containerDiv>div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
  }