* {
    box-sizing: border-box;
}

#containerDiv{
display:flex;
align-items: center;
flex-wrap: wrap;
width: 960px;
height: 960px;
}

.gridDivs{
    border:1px solid black;
    margin:0px;
    background-color: greenyellow;
}
